<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Frontend</h1>
    <form action="/recibir-xml" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="docs" id="docs" />
      <input type="submit" value="Enviar" />
    </form>

    <h2>Salida</h2>
    <textarea name="output" id="output" cols="50" rows="30" readonly>
      {{dato}}
    </textarea>
  </body>
</html>
