[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
django = "*"
flask-cors = "*"
requests = "*"

[dev-packages]
yapf = "*"
pylint = "*"

[requires]
python_version = "3.9"
