<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CALCULADORA DE POTENCIAS</h1>
    <form method ='get'>
        {%csrf_token%}
        <input type="number" name = 'num_1' id = 'num_1'>
        <input type="number" name = 'num_2' id = 'num_2'>
        <input type="submit" value = 'Calcular'>
    </form>
    <h2>Resultado</h2>
    <p>Resultado: {{potencia}}</p>
</body>
</html>